<h1><%= @user.full_name %></h1>

<h2>Bookmarked</h2>

<% @events.each do |event| %>
    <p>
        <%= render 'tournaments/tournament', {tournament: event.tournament} %>
        <%= button_to "Pay and Register", event_path(event), method: :patch %>
    </p>

<% end %>