<h1><%= @user.full_name %></h1>

<h2>Bookmarked</h2>

<% @bookmarks.each do |bookmark| %>
    <p>
        <%= render 'tournaments/tournament', {tournament: bookmark.tournament} %>
        <%= button_to "Pay and Register", bookmark, method: :patch %>
    </p>

<% end %>